<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="blog">

	<insert id="insertBlog" parameterType="kr.co.jhta.vo.Blog">
		insert into spring_users
		(blog_no, blog_title, blog_writer, blog_content, blog_create_date)
		values
		(spring_blog_seq.nextval, #{no}, #{title}, #{writer}, #{content}, sysdate)
	</insert>
	
	<select id="getAllBlogs" resultType="kr.co.jhta.dto.BlogDto">
		select
			
	
	</select>
</mapper>

